.body {
    background: #303030;
}

.panel-default {
    border-color: rgba(52, 73, 94, 1.0);
}

.panel-default > .panel-heading {
    background: rgba(52, 73, 94, 1.0);
    border-bottom: none;
    color: #ffffff;
}

.tutor-hide {
    display: none;
}

.tutor-box {
    background: rgba(52, 73, 94, 0.96);
    box-shadow: 3px 3px 5px rgba(44, 62, 80, 0.4);
    color: #ffffff;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 300;
}

.tutor-box-buttons {
    padding-top: 10px;
}

.tutor-box-central {
    background: rgba(52, 152, 219, 0.96);
    border-color: rgba(41, 128, 185, 1.0);
    left: 50%;
    position: fixed;
    top: 50%;
    z-index: 400;
}

.tutor-box-central > .panel-heading {
    background: rgba(41, 128, 185, 1.0);
}

@media only screen and (max-width: 992px) {
    .tutor-box-bottom {
        bottom: 0;
        margin-bottom: 0;
        position: fixed;
        left: 50%;
        top: auto;
        z-index: 400;
    }
}

.tutor-box-bg {
    background: rgba(44, 62, 80, 0.6);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

#tutor-control {
    background: rgba(52, 73, 94, 1);
    box-shadow: 3px 3px 5px rgba(44, 62, 80, 0.4);
    padding: 10px 0;
    position: fixed;
    left: 0;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 400;
}

#tutor-control div {
    display: inline-block;
}

#tutor-control .btn-default {
    background-color: #e74c3c;
    border-color: #c0392b;
    color: #ffffff;
}

#tutor-control .btn-default:hover {
    background-color: #f75c4c;
}

.blue-box {
    color: #ffffff;
    background: rgba(241, 196, 15, 1.0);
    height: 100px;
    line-height: 100px;
    text-align: center;
}

.green-box {
    color: #ffffff;
    background: rgba(46, 204, 113, 1.0);
    height: 100px;
    line-height: 100px;
    text-align: center;
}

.test-box-row {
    padding-bottom: 20px;
}
